<div class="header">
  <div class="row m-4">
    <div class="row" >
      <div class="row" style="justify-content: left;">
        <ul class="col-md-4">
          <img 
            class="imagenSoyYo"
            src="	https://soyyo.co/udordoaz/2021/04/Group-1186.png"
          />
        </ul>
        <ul class="col-md-4 tituloPrincipal" style="text-align: center;">
          <h3>Registro de datos</h3>
  
        </ul>
      </div>
      
    </div>
  </div>
</div>
