<div id="sidebar"  >
    
    <div class="tituloLogo text-light">
        Registro de clientes
    </div>
    <hr>
    <div class="subtitulo">
        Tipos de registro
    </div>
    <div class="menu">
        <a href="#" class="itemSidebar text-light d-block p-3"><ion-icon name="person-add" class = "lead " style="padding-right: 5px;"></ion-icon> SAML</a>
        <a href="#" class="itemSidebar text-light d-block p-3"><ion-icon name="person-add" class = "lead " style="padding-right: 5px;"></ion-icon> Open ID</a>

    </div>
    
</div>


            